body{
	background-image: url("../images/tendances/fond-netflux.jpg");
	background-size: cover;
	overflow: hidden;
}


.cadre{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,0.6);
	width: 35%;
	padding: 15px;
}

.cadrebody{
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}


#infos-connexion{
	color: white;
}



.cadre>footer{
	padding-bottom : 0.5em;
	font-style: italic;
}


.boutton-valid{
	text-align: center;
	background-color: #f71f1f;
	width: 100%;
	border: none;
	padding: 0.5em;
	font-weight: bold;
	color: white;
	font-size: 18px;
}


.boutton-efface:hover, .boutton-valid:hover{
	opacity: 0.6;
}


h1{
	text-align: center;
	color: white;
}



.centre{
	text-align: center;
	padding: 1em;
}

span{
	color:red;
}



label, legend{
	color: white;
}

#nom, #prenom, #mdp, #vmdp, #dn, #mail, #fichier, #pseudo{
	background-color: rgb(35, 35, 35);
	color: white;
	width: 70%;
	height: 10%;
	border: none;
}

#result{
	color: white;
}


a{
	color: white;
	text-decoration: none;
}

#unPseudo, #eMail, #mdp_auth{
	width: 70%;
	height: 8%;
	background-color: rgb(35, 35, 35);
	border: none;
	color: white;
	padding-block: 10px;
}






















